 body {
  background-color: #d8e3e7;
  margin: auto;
  font-family: 'Karla', sans-serif;
}

h3 {
  margin-bottom: 15px;
   color:hsl(218, 22%, 67%);
   font-size: 1.5em;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  height: 60%;
  border-radius: 20px;

}
.upper {
  width: 100px;
  height: 50%;
  background-color: white;
  padding-top: 30px;
  padding-left: 6px;



}
.right-side {
  width: 350px;
  height: 250px;
  background-color: red;


}
